@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Fira sans;
}
body{
    background-color: #F5F5F5;
}
/* Banner Design */
#banner {
     background-color: #c6e4d6;
    height: 560px;
    max-width: 1280px;
    margin: 20px 160px 80px 160px;
    border-radius: 8px; 
}

.banner-page {
    display: flex;

}

.banner-text {
    height: 326px;
    width: 622px;
    margin: 117px 68px 117px 60px;
}
.banner-subtitle{
    font-family: Fira sans;
    color: #6a7972;
    font-size: 24px;
    font-weight: 600px;
}
.banner-title{
    font-family: Fira sans;
    color: #0E0E0E;
    font-size: 50px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 24px;
}
.banner-button{
    width: 270px;
    height: 56px;
    background-color: #006A50;
    font-family: Fira sans;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: 600px;
    margin-bottom: 117px;
}
.banner-button:hover{
    background-color: #014333;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 19px;
    cursor: pointer;
}
.banner-image{
    margin: 80px 60px 80px auto;
}

/* Future vision page design */

#future-vision-page{
    padding-left: 160px;
    padding-right: 160px;
}
.vision-title{
    font-family: Fira sans;
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.vision-description{
    font-family: Fira sans;
    font-size: 16px;
    line-height: 24px;
    color: #0e0e0eac;
    margin-top: 24px;
}
.card{
    display: flex;
    gap: 24px;
    
}
.digital-transformation-card{
    width: 410px;
    height: 325px;
    background-color: #548ff549;
    border-radius: 8px;
    margin-top: 32px;
    padding: 32px;
}
.digital-transformation-card:hover{
    box-shadow: 0px 0px 4px 4px rgb(177, 189, 189);
}

.green-energy-card{
    width: 410px;
    height: 325px;
    background-color: #C6E4D6;
    border-radius: 8px;
    margin-top: 32px;
    padding: 32px;
}
.green-energy-card:hover{
    box-shadow: 0px 0px 4px 4px rgb(177, 189, 189);
}
.modern-infrastructure-card{
    width: 410px;
    height: 325px;
    background-color: #F7EBCF;
    border-radius: 8px;
    margin-top: 32px;
    padding: 32px;
}
.modern-infrastructure-card:hover{
    box-shadow: 0px 0px 4px 4px rgb(177, 189, 189);
}
.card-icon{
    margin-bottom: 12px;
    
}
.card1-title{
    font-family: Fira sans;
    color: #0e0e0eb6;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 24px;
}
.card1-description{
    font-family: Fira sans;
    font-size: 16px;
    line-height: 24px;
    color: #0e0e0e93;
}
.digital-btn, .green-btn, .modern-btn{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    border: none;
    color: white;
    margin-top: 48px;
    font-weight: 600px;
    font-size: 16px;
    font-family: Fira sans;
    cursor: pointer;
}
.digital-btn{
    background-color:#5490F5 ;
}
.digital-btn:hover{
    background-color: #344d7a;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 17px;
}
.green-btn{
    background-color:#09A15C ;
}
.green-btn:hover{
    background-color: #086a3e;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 17px;
}
.modern-btn{
    background-color:#FFC239 ;
}
.modern-btn:hover{
    background-color: #e0a417;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 17px;
}
.quote-by-yunus{
    max-width: 1280px;
    height: 240px;
    background-color: #FFFFFF;
    margin-top: 32px;
    border-radius: 10px;
    border: 3px solid #F1F1F3;
    padding: 48px 24px;
}
.quote{
    position: relative;
     margin-bottom: 12px;
}
.quote-bg{
    position: absolute;
    top: -10px;
    width: auto;
    height: auto;
}
.quotes-description{
    margin-top: 23px;
    font-family: Fira sans;
    font-size: 16px;
    line-height: 24px;
    color: #0e0e0ea8;
}
.Person-name{
    font-family: Fira sans;
    font-size: 20px;
    font-weight: 600px;
    line-height: 24px;
    color: #0e0e0ed1;
}
.person-designation{
    font-family: Fira sans;
    font-size: 16px;
    line-height: 24px;
    color: #0e0e0e82;
}
 /* Recent news page design */

#recent-news-page{
    max-width: 1280px; 
    margin: 80px 160px 80px 160px;
    
}

.news-card1{
    display: flex;
    gap: 32px;
    padding: 48px;
    background-color: #FFFFFF;
    border-radius: 15px;
    max-width: 1280px;
    height: 320px;
    margin-top: 32px;

}
.news-card1:hover{
    box-shadow: 0px 0px 4px 4px rgb(177, 189, 189);
}
.news-description{
    font-family: Fira sans;
    font-size: 16px;
    font-weight: regular;
    line-height: 24px;
    color: #0e0e0eba;
}
.news-title{
    font-family: Fira sans;
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.news1-image{
    border-radius: 8%;

}
.card1-news-title{
    font-family: Fira sans;
    font-weight: bold;
    font-size: 32px;
    line-height: auto;
    color: #0e0e0ecf;
}
.news-time{
    margin-top: 12px;
}
.news-time, .card1-news-description{
    font-family: Fira sans;
    font-size: 16px;
    font-weight: regular;
    line-height: 24px;
    color: #0e0e0ec3;
}
.card1-news-description{
    margin-top: 12px;
}
.read-more-btn{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    border: none;
    color: white;
    margin-top: 32px;
    font-weight: 600px;
    font-size: 16px;
    font-family: Fira sans;
    cursor: pointer;
    background-color: #006A50;
}
.read-more-btn:hover{
    background-color: #50cb94;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 17px;
}

/* Donate page design */
#donate-page{
    height: 400px;
    max-width: 1280px; 
    margin: 80px 160px 80px 160px;
}
.donate-title{
    font-family: Fira sans;
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
    text-align: center;
    margin-bottom: 24px;
}
.donate-description{
    font-family: Fira sans;
    font-size: 16px;
    line-height: 24px;
    color: #0e0e0eaf;
    max-width: 1104px;
    margin-left: 88px;
    margin-right: 88px;
}
.taka-card{
    display: flex;
    justify-content: space-around;
    
}
.taka100, .taka200, .taka500, .taka1000{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
    cursor: pointer;
    border: 3px solid #F1F1F3;

}
.amount100, .amount200, .amount500, .amount1000{
    font-family: Fira sans;
    font-size: 40px;
    font-weight: bold;
    color: #0e0e0ecf;
}
.taka200{
    background-color: #C6E4D6;
}
.taka100:hover{
    background-color: #C6E4D6;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.taka200:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.taka500:hover{
    background-color: #C6E4D6;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.taka1000:hover{
    background-color: #C6E4D6;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.input-amount{
    width: 1032px;
    height: 60px;
    margin-left: 70px;
    margin-right: 120px ;
    border: none;
    text-align: center;
    border: 3px solid #F1F1F3;
    font-size: 20px;
    color: #0e0e0ec1;
}
.donate-btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.donate-btn{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    border: none;
    color: white;
    margin-top: 32px;
    font-weight: 600px;
    font-size: 18px;
    font-family: Fira sans;
    cursor: pointer;
    background-color: #006A50;
    align-items: center;
    

}
.donate-btn:hover{
    background-color: #50cb94;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 19px;
}

/* newsletter subscription page design */
#news-letter-page{
    background-color: #c6e4d6;
    height: 450px;
    max-width: 1280px;
    margin: 80px 160px ;
    border-radius: 8px; 
}
.newsletter{
    padding: 80px 256px;
}
.newsletter-title{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
}
.newsletter-description, .promise{
    font-size: 16px;
    line-height: 24px;
    color: #0e0e0e9d;
    text-align: center;
    margin-top: 16px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
    padding-left: 20px ;
    margin-bottom: 25px;
    margin-top: 24px;
}
.input-email{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.email-btn{
    border: none;
    outline: none;
    padding: 16px 50px;
    color: white;
    background: #006A50;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}
.email-btn:hover{
    background-color: #50cb94;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-size: 19px;
}

/* footer design */
footer{
    background-color: #FFFFFF;
    height: 200px;
    width: 80%;
    padding: 50px 160px;
}
.footer-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
    text-align: center;
    margin-bottom: 32px;
}
.social-icon-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    margin-top: 32px;
}
hr{
    width: 900px;
    margin: 0 auto;
    color: #0e0e0e16;
}